body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  height: 80px;
  background: darkcyan;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.wrapper {
  width: 1220px;
  margin: 0 auto;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

.headerButton {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.headerButton button{
  border-radius: 15px;
  background: darkcyan;
  color: #FFF;
  border: 1px solid #FFF;
  height: 40px;
  width: 140px;
  transition: background 1s ease;
}

.headerButton button:hover {
  cursor: pointer;
  background: rgb(15, 77, 77);
}

/* ------------------------------------- */

.main h1{
  text-align: center;
}

.dropdown select{
  font-size: 15px;
  padding: 5px;
}

.dropdown select:hover {
  cursor: pointer;
}

.filterPanel {
  width: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.show-list {
  margin-top: 50px;
}

.card {
  border: 1px solid darkcyan;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: rgb(40, 86, 86);
  transition: all 1s ease;
  margin-bottom: 10px;
}

.card:hover {
  background: darkcyan;
  color: white;
}

.display-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Создаем 4 колонки с равной шириной */
  grid-gap: 16px;
}

.filterCancel {
  color: darkcyan;
  transition: color 1s ease;
}

.filterCancel:hover {
  color: rgb(14, 57, 57);
  cursor: pointer;
}

/* ------------------------------------------- */
.seatingPage, .bookingPage{
  color: darkcyan;
}

.seatingPage h2, .bookingPage h2{
  text-align: center;
  margin: 20px 0;
}

.seatingPage .show, .bookingPage .show {
  border: 1px solid darkcyan;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: darkcyan;
  color: white;
}

.seatings {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.stage {
  width: 65%;
  border: 1px solid darkcyan;
  border-radius: 15px;
  margin-bottom: 20px;
}

.stage .stageButton {
  display: flex;
  width: 200px;
  height: 50px;
  background: darkcyan;
  color: white;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
} 

.rows {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
} 

.rowName {
  width: 100px;
}

.seats {
  display: flex;
  width: 600px;
  justify-content: center;
}

.seat {
  width: 15px;
  height: 15px;
  border: 1px solid darkcyan;
  border-radius: 50%;
  /* margin: 2px; */
}

.free:hover {
  background: darkcyan;
  cursor: pointer;
}

.reserv:hover {
  background: rgb(183, 159, 159);
  cursor: pointer;
}

.booked {
  background: rgb(172, 11, 11);
}

.reserv {
  background: rgb(75, 132, 217);
}

.selectedSeats {
  width: 30%;
  border: 1px solid darkcyan;
  height: 100%;
  text-align: center;
  padding: 20px;
} 

.selectedSeats h5 {
  margin-bottom: 50px;
}

.expire {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* --------------------------------- */